

<div> 

<div id="col1" class="col-12 col-sm-6 cadre">
    
    <div class="date"></div>
    <div class="heure"></div>

    <div class="match">
        
        <div class="equipes">
            <div class="equipe1">
                <img src="" alt="logo de l'équipe 1" id="equipe1"/>
                <div class="nomEquipe1"></div>
            </div>
            <div class="score">
                <p><span id="score1"></span>
                -
                <span id="score2"></span></p>
            </div>
            <div class="equipe2">
                <img src="" alt="logo de l'équipe 2" id="equipe2"/>
                <div class="nomEquipe2"></div>
            </div>
        </div>

    </div>
    <div class="button_detail">
        <button>À propos</button>
    </div>
</div>

   