
.contact_title {
    text-align: center;
}
form {
    /*On centre le formulaire*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5em;
    width: 400px;
    /*Le contour du formulaire*/
    padding:1em 3em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li{
    margin-top: 1em;
}

label {
    /* Taille et alignement uniformes */
    display: inline-block;
    width: 200px;
    text-align: left;
}

input, 
textarea {
    /*  On s'assure que les champs texte ont la même police
        Par défaut, les zones de texte ont une police à chasse 
        fixe. 
    */
    font: 1em sans-serif ;

    /* Taille uniforme pour les champs */
    width: 300px;
    box-sizing: border-box;

    /* On utilise la même bordure que pour les formulaires */
    border: 1px solid #999;
}

input:focus
textarea:focus {
    /* On rajoute une mise en avant pour les éléments avec le focus */
    border-color: #000;
}

textarea {
    /* On aligne les textes sur plusieurs lignes avec leur libellé. */
    vertical-align: top;

    /* On fournit un peu d'espace pour saisir du texte. */
    height: 5em;

    /* On permet de redimensionner verticalement. */
    resize: vertical;
}

.button {
    /* On aligne le bouton avec les champs texte. */
    padding-left: 121px;
}

button {
    /* 
    Une marge supplémentaire représentant approximativement
    le même espace qu'entre les libellés et les champs.
    */
    margin-left: 0.5 em;
    background-color: #FC312C;
    border-radius: 5px !important;
    padding: auto;
   
}


