body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Permanent Marker', cursive !important;
    cursor: default;
}

.fixed-header { 
    top: 0;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 1000;
    padding: 20px;
}

.fixed-header .container-md img {
    max-width: 60px;
    height: auto;
    float: left;
}

.fixed-header .container-md h1 {
    margin: 0;
    color: white;
    text-align: center;  
}

/*menu burger*/
.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display:flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: black;
    z-index: 1;
    padding: 10px;
  }

  .menu.active {
    display: flex;
  }
}


 h2 {
    background-color: red;
    color: white !important;
    border-radius: 10px;
    padding: 20px 50px;
}



.actualite {
    display: flex;
    background-image: url(../../images/amiens1.jpg);
    background-size: 110%;
    opacity: 0.9;
    width: 25%;
    height: 100vh;
    border: black 2px solid;
    align-items: center;
    justify-content: center;
}

.actualite:hover {
    background-image: none;
    background-color: red;
    opacity: 1;
    cursor: pointer;
}



.match {
    display: flex;
    background-image: url(../..//images/rouen1.jpg);
    background-size: 130%;
    opacity: 0.9;
    width: 25%;
    height: 100vh;
    border: black 2px solid;
    align-items: center;
    justify-content: center;
}

.match:hover {
    background-image: none;
    background-color: red;
    opacity: 1;
    cursor: pointer;
}

.guide {
    display: flex;
    background-image: url(../..//images/nhl1.jpg);
    background-size: 160%;
    opacity: 0.9;
    width: 25%;
    height: 100vh;
    border: black 2px solid;
    align-items: center;
    justify-content: center;
}

.guide:hover{
    background-image: none;
    background-color: red;
    opacity: 1;
    cursor: pointer;
}

.boutique {
    display: flex;
    background-image: url(../..//images/boutique.jpg);
    background-size: 200%;
    opacity: 0.9;
    width: 25%;
    height: 100vh;
    border: black 2px solid;
    align-items: center;
    justify-content: center;
}

.boutique:hover {
    background-image: none;
    background-color: red;
    opacity: 1;
    cursor: pointer;
}

.menu{
    display: flex;
    text-transform: uppercase;
    text-align: center;
}




