body {
  height: 100%;
  cursor: default;
  position: relative;
}



/* BAR DE NAVIGATION */

header {
  background-color: black;
  opacity: 0.9;
  color: #fff;
  top: 0;
  padding: 20px;
  z-index: 1000;
  font-family: 'Permanent Marker', cursive !important;
}

header img {
  width: 60px;
  height: auto;
  float: left;
  margin-top: -18px;
  display:block;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu {
  justify-content: center;
}

#menu li {
  display: inline-block;
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#menu a:hover {
  border-bottom: 2px solid #fff;
}

/* BOUTONS CREATE */

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#create a {
  text-decoration:none !important;
  color: #eeeeee;
}

#create {
  background-color: #000000;
  border-radius: 10px;
  border: 3px double #cccccc;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 110px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
}

.create a:hover {
  font-size: 16px;
  font-weight: bold;
}


/*pied de page*/

.footer-basic {
 /*position: absolute; */
  margin-bottom: 0;
  width: 100%; 
  padding: 40px 0;
  background-color: black;
  opacity: 0.9;
  color: white;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

